In [2]:
import numpy as np

In [41]:
np.random.seed(100)
x = 20 + 5*np.random.randn(1000)
x.mean(), x.std( ddof=1)

(19.916139213280452, 5.2318301664727)

In [40]:
x[:5]

array([11.25117263, 21.71340202, 25.76517901, 18.73781982, 24.90660393])

In [36]:
import pandas as pd
df = pd.DataFrame(x)
df.head()

           0
0  11.251173
1  21.713402
2  25.765179
3  18.737820
4  24.906604

In [39]:
df.mean(), df.std()

(0    19.916139
 dtype: float64,
 0    5.23183
 dtype: float64)

In [45]:
n = 100
sample1 = df.sample(n)

In [46]:
sample1.mean()   # x-bar

0    19.082988
dtype: float64

In [47]:
from scipy.stats import norm
alpha = 0.05
norm.ppf(alpha/2)

-1.9599639845400545

In [49]:
norm.isf(alpha/2)

1.9599639845400545

In [50]:
SE = x.std()/np.sqrt(n)
SE

0.5229213597083499

In [52]:
sample1.mean() - norm.isf(alpha/2)*SE, sample1.mean() + norm.isf(alpha/2)*SE

(0    18.058081
 dtype: float64,
 0    20.107895
 dtype: float64)