In [8]:
import pandas as pd
df = pd.read_pickle("churn_prediction_v3.pkl")
df.head()

,vintage,age,gender,dependents,occupation,city,customer_nw_category,branch_code,current_balance,previous_month_end_balance,average_monthly_balance_prevQ,average_monthly_balance_prevQ2,current_month_credit,previous_month_credit,current_month_debit,previous_month_debit,current_month_balance,previous_month_balance,churn
0,2401,66,Male,0,self_employed,187,2,755,1458.71,1458.71,1458.71,1449.07,0.20,0.20,0.20,0.20,1458.71,1458.71,0.0
1,2648,35,Male,0,self_employed,100000,2,3214,5390.37,8704.66,7799.26,12419.41,0.56,0.56,5486.27,100.56,6496.78,8787.61,0.0
2,2494,31,Male,0,salaried,146,2,41,3913.16,5815.29,4910.17,2815.94,0.61,0.61,6046.73,259.23,5006.28,5070.14,0.0
3,2629,90,Male,1,self_employed,1020,2,582,2291.91,2291.91,2084.54,1006.54,0.47,0.47,0.47,2143.33,2291.91,1669.79,1.0
4,1879,42,Male,2,self_employed,1494,3,388,927.72,1401.72,1643.31,1871.12,0.33,714.61,588.62,1538.06,1157.15,1677.16,1.0

In [ ]:
# Hypothesis: The mean "current_balance" for the customers is less than $5000. State any assumptions you make.

In [ ]:
# VAgue Hypothesis: Customers with a higher current month debit have a higher churn rate.

In [56]:
import numpy as np
import pandas as pd
from scipy import stats

# Step 1: Formulate the null and alternative hypotheses
# Null Hypothesis (H0): μ ≤ 5000 (current month debit has no effect on churn)
# Alternative Hypothesis (HA): μ > 5000 (customers with higher current month debit have a higher churn rate)

In [17]:
# Step 2: Collect and prepare the data
current_month_debit_churn = df[df['churn'] == 1]['current_month_debit']

In [18]:
current_month_debit_churn.sample(10)

13211     1013.83
10305      443.44
1682         0.26
2005       486.90
13897        0.13
13794        0.27
15840      207.67
14832        0.19
13836     3571.51
585      39062.97
Name: current_month_debit, dtype: float64

In [19]:
# Step 3: Choose a significance level (α)
alpha = 0.05

In [28]:
df['current_month_debit'].mean()

3498.418340762132

In [22]:
# Step 4: Compute the test statistic
sample_mean = current_month_debit_churn.mean()
population_mean = 5000
sample_size = current_month_debit_churn.size
popln_std = current_month_debit_churn.std()

standard_error = popln_std / np.sqrt(sample_size)
test_statistic = (sample_mean - population_mean) / standard_error
test_statistic

3.7431296560241885

In [24]:
# Step 5: Determine the critical value or p-value
critical_value = stats.norm.isf(alpha)  # For right-tailed test
p_value = stats.norm.sf(test_statistic)  # For right-tailed test
critical_value, p_value

(1.6448536269514729, 9.087119491515954e-05)

In [25]:
# Step 6: Make a decision for a Right-Tailed Test
if (test_statistic > critical_value) or (p_value < alpha):
    print("Reject the null hypothesis")
else:
    print("Fail to reject the null hypothesis")

Reject the null hypothesis

In [ ]:
# Step 6: Make a decision for a Left-Tailed Test
#if (test_statistic < critical_value) or (p_value < alpha):
#    print("Reject the null hypothesis")
#else:
#    print("Fail to reject the null hypothesis")  # indirectly accept H0

In [27]:
# Step 7: Draw a conclusion
if test_statistic > critical_value or p_value < alpha:
    print("There is evidence to suggest that customers with higher current month debit have a higher churn rate")
else:
    print("There is insufficient evidence to suggest a difference in churn rates based on current month debit")

There is evidence to suggest that customers with higher current month debit have a higher churn rate

# Two-Tailed Test (t-test)

Hypothesis: about the poplulation mean being EQUAL TO something.
    μ =>>> Mean Age of the Population
    
H0: μ = 50

HA: μ != 50

The population standard Deviation is not given/known
Hence, we'll conduct a t-test.

In [59]:
np.random.seed(100)
n = 200

sample = df['age'].sample(n)
sample.mean()

48.015

In [60]:
sample.std()

18.658118930107886

In [61]:
SE = sample.std()/np.sqrt(n)  # Since the popln std_dev is not known/given, so we are
# calculating the standard deviation from the sample.

t_stat = (sample.mean() - 50) / SE
t_stat

-1.504553557529693

In [62]:
# calculate the t_critical for alpha of 0.05
from scipy.stats import norm, t

t.ppf(alpha/2, df = n-1)

-1.9719565442493954

In [63]:
norm.ppf(alpha/2)

-1.9599639845400545

In [64]:
# p-value
t.cdf(t_stat, df=n-1)*2 

# p_value  EXCEEDS alpha of 0.05
# Hence, We fail to reject the H0

0.13402436846960217

# Hypothesis: Males have significantly higher chances of churn compared to females

Two-Tailed Test:
H0: Males have equal chances of churn compared to females
HA: Males have Significantly UNequal chances of churn compared to females
    
Right-tailed Test    
HA: Males have significantly higher chances of churn compared to females
H0: Males have less than OR Equal chances of churn compared to females