In [6]:
import numpy as np
import pandas as pd
df = pd.read_pickle("churn_prediction_v3.pkl")
df.head()

,vintage,age,gender,dependents,occupation,city,customer_nw_category,branch_code,current_balance,previous_month_end_balance,average_monthly_balance_prevQ,average_monthly_balance_prevQ2,current_month_credit,previous_month_credit,current_month_debit,previous_month_debit,current_month_balance,previous_month_balance,churn
0,2401,66,Male,0,self_employed,187,2,755,1458.71,1458.71,1458.71,1449.07,0.20,0.20,0.20,0.20,1458.71,1458.71,0.0
1,2648,35,Male,0,self_employed,100000,2,3214,5390.37,8704.66,7799.26,12419.41,0.56,0.56,5486.27,100.56,6496.78,8787.61,0.0
2,2494,31,Male,0,salaried,146,2,41,3913.16,5815.29,4910.17,2815.94,0.61,0.61,6046.73,259.23,5006.28,5070.14,0.0
3,2629,90,Male,1,self_employed,1020,2,582,2291.91,2291.91,2084.54,1006.54,0.47,0.47,0.47,2143.33,2291.91,1669.79,1.0
4,1879,42,Male,2,self_employed,1494,3,388,927.72,1401.72,1643.31,1871.12,0.33,714.61,588.62,1538.06,1157.15,1677.16,1.0

In [ ]:
# Hypothesis: Mean age of the customers (mu) = 50 years
# HA: mu != 50  # 2-tailed test
# H0: mu = 50

In [10]:
alpha = 0.05
sample_mean = df['age'].mean()   
sample_std = df['age'].std()   
popmean = 50
n = len(df['age'])

SE = sample_std/np.sqrt(n)
t_stat = (sample_mean - popmean)/SE
t_stat

-12.905287322843577

In [11]:
from scipy.stats import norm, t

t.ppf(alpha/2, df=n-1)

-1.960112932835129

In [12]:
t.cdf(t_stat, df=n-1)*2   # p-value

6.509115636001832e-38

In [15]:
from scipy.stats import ttest_1samp

rvs = df['age']
ttest_1samp(rvs, popmean=popmean)

Ttest_1sampResult(statistic=-12.905287322843577, pvalue=6.509115636001832e-38)

In [ ]:
# https://www.statology.org/hypothesis-test-python/
# statology.org/two-sample-t-test/

In [17]:
# Hypothesis: Mean age of the customers (mu) = 50 years
# H0: mu >= 49 years
# HA: mu < 49 years   >> Left-tailed test

rvs = df['age']
ttest_1samp(rvs, popmean=49, alternative='less')

Ttest_1sampResult(statistic=-5.8408410612684305, pvalue=2.647500084091273e-09)

In [23]:
# Hypothesis: Mean age of the customers (mu) = 50 years
# H0: mu <= 48 years
# HA: mu > 48 years   >> Right-tailed test

rvs = df['age']
ttest_1samp(rvs, popmean=48, alternative='greater')

Ttest_1sampResult(statistic=1.2236052003067155, pvalue=0.11055964875317988)

In [22]:
df['age'].mean()

48.17320610207797

In [24]:
# Hypothesis: these population means from 2 independent samples is what we are checking
# Ho: mu1 = mu2
# HA: mu1 != mu2

import scipy.stats as stats 

#define array of turtle weights for each sample
sample1 = [300, 315, 320, 311, 314, 309, 300, 308, 305, 303, 305, 301, 303]
sample2 = [335, 329, 322, 321, 324, 319, 304, 308, 305, 311, 307, 300, 305]

#perform two sample t-test
stats.ttest_ind(a=sample1, b=sample2, equal_var=True)

Ttest_indResult(statistic=-2.10090292575557, pvalue=0.04633501389516513)

In [25]:
stats.ttest_ind(a=sample1, b=sample2, equal_var=False)

Ttest_indResult(statistic=-2.1009029257555696, pvalue=0.049144851129745294)

In [ ]:
# https://openstax.org/books/introductory-statistics/pages/9-2-outcomes-and-the-type-i-and-type-ii-errors

#### Test for Normality

In [26]:
stats.shapiro(sample1)
# The null hypothesis is that the data follows a normal distribution

ShapiroResult(statistic=0.9282369613647461, pvalue=0.3231361508369446)

In [27]:
stats.shapiro(sample2)

ShapiroResult(statistic=0.9275264143943787, pvalue=0.316236674785614)

### Checking the Homogeneity of Variances Assumption

In [28]:
stats.levene(sample1, sample2)

LeveneResult(statistic=4.072727272727275, pvalue=0.05489225227189803)

the p-value suggests that the data follows the assumption of equal variances