In [8]:
import pandas as pd
df = pd.read_pickle("churn_prediction_v3.pkl")
df.head()

,vintage,age,gender,dependents,occupation,city,customer_nw_category,branch_code,current_balance,previous_month_end_balance,average_monthly_balance_prevQ,average_monthly_balance_prevQ2,current_month_credit,previous_month_credit,current_month_debit,previous_month_debit,current_month_balance,previous_month_balance,churn
0,2401,66,Male,0,self_employed,187,2,755,1458.71,1458.71,1458.71,1449.07,0.20,0.20,0.20,0.20,1458.71,1458.71,0.0
1,2648,35,Male,0,self_employed,100000,2,3214,5390.37,8704.66,7799.26,12419.41,0.56,0.56,5486.27,100.56,6496.78,8787.61,0.0
2,2494,31,Male,0,salaried,146,2,41,3913.16,5815.29,4910.17,2815.94,0.61,0.61,6046.73,259.23,5006.28,5070.14,0.0
3,2629,90,Male,1,self_employed,1020,2,582,2291.91,2291.91,2084.54,1006.54,0.47,0.47,0.47,2143.33,2291.91,1669.79,1.0
4,1879,42,Male,2,self_employed,1494,3,388,927.72,1401.72,1643.31,1871.12,0.33,714.61,588.62,1538.06,1157.15,1677.16,1.0

# Questions on Normal Distribution

#### Q. At a bank, the processing time for personal loan applications follows a normal distribution with a mean of 10 days and a standard deviation of 2 days. Calculate the probability that a randomly selected loan application takes less than 8 days to process.

In [11]:
# P(X<=8) = ???

norm.cdf(8, loc=10, scale=2)

0.15865525393145707

#### A credit card company is concerned about fraudulent transactions. The transaction amounts for legitimate transactions follow a normal distribution with a mean of USD 100 and a standard deviation of USD 20. Calculate the transaction amount above which only 5% of legitimate transactions occur.

In [13]:
# we are looking for the X value where P(X>0.05) ??
norm.isf(0.05, loc=100, scale=20)

132.89707253902947

In [14]:
# we are looking for the X value where P(X <= 0.95) ??
norm.ppf(0.95, loc=100, scale=20)

132.89707253902944

#### A bank is analyzing the monthly credit card bill amounts of its customers. The bill amounts follow a normal distribution with a mean of USD 500 and a standard deviation of USD 100. Calculate the probability that a randomly selected customer has a bill amount exceeding $700.

In [16]:
# X = bill amount
# P(X>700) = ???

norm.sf(700, loc=500, scale=100)

0.022750131948179195

#### A bank is issuing credit cards with a credit limit that follows a normal distribution with a mean of USD 10,000 and a standard deviation of USD 2,000. What is the credit limit below which only 10% of credit cards are issued?

In [18]:
# X = credit limit
# we are looking for the X value where P(X <= 0.1) ??
norm.ppf(0.1, 10000, 2000).round()

7437.0

#### A bank wants to set a minimum balance requirement for a specific account type. The account balances follow a normal distribution with a mean of USD 2000 and a standard deviation of USD 500. What is the minimum balance threshold below which 25% of account holders fall?

In [19]:
# X = minimum bal
# we are looking for the X value where P(X <= 25) ??

norm.ppf(0.25, 2000, 500).round()

1663.0

# HW Problems on Normal Distribution

A bank offers a special interest rate on fixed deposits to customers who have an account balance exceeding a certain threshold. The account balance of customers follows a normal distribution with a mean of $10,000 and a standard deviation of $2,000. Calculate the proportion of customers who are eligible for the special interest rate if the threshold is set at $12,000.

In [1]:
import numpy as np
from scipy.stats import norm

norm.sf(12000, loc=10000, scale=2000)

0.15865525393145707

An insurance company has a policy that offers a bonus to policyholders whose claim amounts are within a certain range. The claim amounts follow a normal distribution with a mean of $5,000 and a standard deviation of $1,000. Calculate the probability that a randomly selected claim amount falls within the range of $4,000 to $6,000.

In [3]:
norm.cdf(6000, loc=5000, scale=1000) - norm.cdf(4000, loc=5000, scale=1000)

0.6826894921370859

A retail store measures the time it takes for customers to complete a purchase transaction. The transaction time follows a normal distribution with a mean of 3 minutes and a standard deviation of 0.5 minutes. What is the probability that a randomly selected customer completes the transaction in less than 2 minutes?

In [4]:
norm.cdf(2, loc=3, scale=0.5)

0.022750131948179195

An e-commerce platform analyzes the time taken for customers to complete the checkout process. The checkout time follows a normal distribution with a mean of 5 seconds and a standard deviation of 1 second. What is the 90th percentile of the checkout time distribution?

In [5]:
norm.ppf(0.90, loc=5, scale=1)

6.2815515655446

A bank analyzes the credit scores of loan applicants. The credit scores follow a normal distribution with a mean of 700 and a standard deviation of 50. What is the credit score cutoff below which only 10% of the applicants fall?

In [7]:
norm.ppf(0.1, loc=700, scale=50).round()

636.0